@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;450;500;700&display=swap');

:root {
  --theme-backdrop: #020618;
  --theme-background: #0f172b;
  --theme-stroke: #314158;
  --theme-foreground: #90a1b9;
  --heading-foreground: #f8fafc;
  --primary: #ffb86a;
  --primary-inverted: #020618;
  --link-foreground: #ffa1ad;
  --indigo-500: #615fff;
  --teal-400: #00d5be;
  --teal-300: #46ecd5;
  --teal-500: #00bba7;
  --teal-900: #0b4f4a;
  --teal-950: #022f2e;
  --slate-50: #f8fafc;
  --slate-500: #62748e;
  --slate-600: #45556c;
  --slate-800: #1d293d;
  --slate-950: #020618;
  --grey-950: #0a0a0a;
  --indigo-300: #a3b3ff;
}

@layer base {
  html {
    background-color: var(--theme-backdrop);
    overscroll-behavior: none;
  }
  body {
    font-family: 'Fira Code', monospace;
    font-weight: 450;
    background-color: var(--theme-backdrop);
    overscroll-behavior: none;
    color: var(--theme-foreground);
    margin: 0;
    min-height: 100vh;
  }
  * {
    box-sizing: border-box;
  }
}
